<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>

  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="./socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/addon/mode/simple.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/mode/javascript/javascript.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link rel="stylesheet" href="./stylesheets/index.css" />

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/mode/dockerfile/dockerfile.js"></script> -->
  <style>
    	#editor {
    		text-align : text-left;
    	}
    	/* .CodeMirror { text-align: left; } */
      .CodeMirror {
         text-align: left;
        border: 1px solid #eee;
        height: auto;
      }

  </style>

  <script src='./javascripts/index.js'></script>
  <body>



    <div class="container-fluid">
    <div class="row  d-flex">

        <!-- Sidebar -->
         <div class="col-md-3 col-xs-1 collapse in" id="sidebar">
            <div class="list-group panel">

                  <a href="#logmenu" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-film"></i> <span class="hidden-sm-down">Container Logs</span></a>
                  <div class="collapse" id="logmenu">
                      <a href="#" class="list-group-item" data-parent="#logmenu">Test</a>
                    </div>
                  <!-- <a href="#" class="list-group-item collapsed" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-film"></i> <span class="hidden-sm-down">Item 2</span></a> -->

            </div>
        </div>

        <main class="col-md-9 col-xs-11">
           <a href="#sidebar" data-toggle="collapse"><i class="fas fa-align-justify"></i></a>
           <hr>
           <div class="page-header">
               <h1>Hyperledger Chaincode Webtools</h1>
           </div>
           <p class="lead">하이퍼렛저 체인 코드 개발용 0.1v</p>
           <input id="chaincode_path" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
           <button type="button" class="btn btn-success">Load</button>
           <button id="save" type="button" class="btn btn-primary">Save</button>
           <button id="logs" type="button" class="btn btn-dark">Logs</button>
           <button id="chaincode_run" type="button" class="btn btn-danger">ChainCode Run</button>
           <button id="peer_upgrade"  type="button" class="btn btn-outline-danger">Peer Upgrade</button>
           <textarea id='editor'  name="code" ></textarea>

           <!-- <div id="footer">
             <p>브라우저 아래에 고정되는 footer부분</p>
           </div> -->

       </main>

        <!-- Page Content -->



        </div>

      </div>

      <footer class="fixed-bottom">
        <div  class="anyClass">
          <p id="LogOutput"></p>
        </div>
        <!-- <H1> TEST</H1> -->
      </footer>




  </body>
</html>
